@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 325;
  font-display: swap;
  src: local("Whitney Book"), local("Whitney-Book"), url("../fonts/whitney-book.woff") format("woff"); }

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: local("Whitney Medium"), local("Whitney-Medium"), url("../fonts/wiitney-medium.woff") format("woff"); }

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Whitney SemiBold"), local("Whitney-SemiBold"), url("../fonts/whitney-semibold.woff") format("woff"); }

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Segoe UI Regular"), local("Segoe-UI-Regular"), url("../fonts/segoe-ui-regular.woff") format("woff"); }

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("SegoeUI SemiBold"), local("SegoeUI-SemiBold"), url("../fonts/segoe-ui-semibold.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.authorization {
  position: relative;
  min-width: 290px;
  width: 490px;
  max-width: calc(100vw - 30px);
  padding: 60px;
  padding-bottom: 55px; }
  .authorization h2 {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 40px;
    text-align: center; }
  .authorization label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.33;
    color: #474351; }
  .authorization input {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 15px 12px;
    font: inherit;
    font-weight: 325;
    font-size: 16px;
    color: inherit;
    border: 1px solid #dddae7;
    border-radius: 4px; }

.authorization__submit {
  margin-top: 35px; }

.authorization__close {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
  outline: none; }
  .authorization__close::before, .authorization__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #918d9a;
    border-radius: 1px; }
  .authorization__close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .authorization__close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  .authorization__close:hover::before, .authorization__close:hover::after, .authorization__close:focus::before, .authorization__close:focus::after {
    background-color: #f25b24; }
  .authorization__close:active::before, .authorization__close:active::after {
    opacity: 0.6; }

@media (max-width: 767px) {
  .authorization {
    padding: 45px 15px; }
    .authorization h2 {
      font-size: 34px; } }

.btn {
  display: block;
  width: 222px;
  padding: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: #f25b24;
  border: 2px solid #f25b24;
  border-radius: 4px;
  outline: none; }
  .btn--wide {
    width: 100%; }
  .btn:hover, .btn:focus {
    color: #f25b24;
    background-color: #ffffff; }
  .btn:active {
    background-color: transparent; }

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.features {
  margin-bottom: 130px; }
  .features h2 {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 40px; }

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  min-height: 235px;
  padding: 40px;
  padding-top: 43px;
  padding-right: 245px;
  background-color: #f6f5f9;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  border-radius: 6px; }
  .features__item--time {
    background-image: url("../img/fearures-time.svg"); }
  .features__item--speed {
    background-image: url("../img/fearures-speed.svg"); }
  .features__item--information {
    background-image: url("../img/fearures-information.svg"); }
  .features__item--chat {
    background-image: url("../img/fearures-chat.svg"); }
  .features__item h3 {
    margin: 0;
    margin-bottom: 22px;
    font-family: "Segoe UI", "TVerdana", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px; }
  .features__item p {
    margin: 0;
    font-family: "Segoe UI", "TVerdana", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    color: #474351; }

@media (max-width: 1023px) {
  .features__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; } }

@media (max-width: 767px) {
  .features {
    margin-bottom: 50px; }
    .features h2 {
      margin-bottom: 20px;
      font-size: 30px; }
  .features__item {
    min-height: auto;
    padding: 30px;
    background-image: none; } }

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 24, 47, 0.3); }
  .modal--closed {
    display: none; }

.modal__window {
  margin: auto;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 60px rgba(28, 24, 47, 0.25);
          box-shadow: 0 10px 60px rgba(28, 24, 47, 0.25); }

.logo {
  display: block; }
  .logo img {
    display: block; }
  .logo[href]:hover, .logo:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .logo:active {
    opacity: 0.6; }

.site-nav {
  max-width: 290px; }
  .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-left: -75px;
    padding: 0;
    list-style: none; }
  .site-nav li {
    padding-left: 75px; }

.site-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  font-weight: 325;
  font-size: 18px;
  color: #ffffff;
  outline: none; }
  .site-nav__link svg {
    margin-right: 12px;
    fill: #ffffff; }
  .site-nav__link span {
    display: block; }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #f25b24; }
    .site-nav__link:hover svg, .site-nav__link:focus svg {
      fill: #f25b24; }
  .site-nav__link:active {
    opacity: 0.6; }

@media (max-width: 767px) {
  .site-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.page-header {
  margin-bottom: 130px;
  padding-bottom: 180px;
  color: #ffffff;
  background: url("../img/header-bg.svg") calc(50% + 250px) 155px no-repeat, -webkit-gradient(linear, left top, right top, from(#2d1686), to(#4e33b5));
  background: url("../img/header-bg.svg") calc(50% + 250px) 155px no-repeat, linear-gradient(90deg, #2d1686 0%, #4e33b5 100%); }
  .page-header h1 {
    max-width: 515px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2; }
  .page-header p {
    max-width: 515px;
    margin: 0;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 1.2; }

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 100px; }

@media (max-width: 767px) {
  .page-header {
    margin-bottom: 50px;
    padding-bottom: 70px; }
    .page-header h1 {
      font-size: 34px; }
    .page-header p {
      font-size: 20px; }
  .page-header__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    margin-bottom: 50px; }
  .page-header__logo {
    margin-top: 12px; } }

.page {
  width: 100%;
  font-family: "Whitney", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 1.3;
  color: #2e2d35;
  background-color: #ffffff; }
  .page--block-scroll {
    position: fixed;
    overflow-y: scroll; }

.registration {
  margin-bottom: 185px; }

.registration__inner {
  padding: 70px;
  color: #ffffff;
  background: url("../img/registration-bg@1x.png") right calc(100% - 12px) no-repeat, -webkit-gradient(linear, left top, right top, from(#2d1686), to(#4e33b5));
  background: url("../img/registration-bg@1x.png") right calc(100% - 12px) no-repeat, linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
  border-radius: 10px; }
  .registration__inner h2 {
    margin: 0;
    max-width: 560px;
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 34px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .registration__inner {
    background: url("../img/registration-bg@2x.png") right calc(100% - 12px)/732px 340px no-repeat, -webkit-gradient(linear, left top, right top, from(#2d1686), to(#4e33b5));
    background: url("../img/registration-bg@2x.png") right calc(100% - 12px)/732px 340px no-repeat, linear-gradient(90deg, #2d1686 0%, #4e33b5 100%); } }

@media (max-width: 767px) {
  .registration {
    margin-bottom: 50px; }
  .registration__inner {
    padding: 30px; }
    .registration__inner h2 {
      font-size: 24px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
