.authorization {
  position: relative;
  min-width: 290px;
  width: 490px;
  max-width: calc(100vw - 30px);
  padding: 60px;
  padding-bottom: 55px;

  h2 {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.33;
    color: $authorization--txt;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 15px 12px;
    font: inherit;
    font-weight: 325;
    font-size: 16px;
    color: inherit;
    border: 1px solid $authorization--input-border;
    border-radius: 4px;
  }
}

.authorization__submit {
  margin-top: 35px;
}

.authorization__close {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: $authorization--btn-close;
    border-radius: 1px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $authorization--btn-close-hover;
  }
  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width) {
  .authorization {
    padding: 45px 15px;

    h2 {
      font-size: 34px;
    }
  }
}
