.btn {
  display: block;
  width: 222px;
  padding: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: $btn--txt;
  background-color: $btn--bg;
  border: 2px solid $btn--bg;
  border-radius: 4px;
  outline: none;

  &--wide {
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $btn--txt-hover;
    background-color: $btn--bg-hover;
  }

  &:active {
    background-color: transparent;
  }
}
