.features {
  margin-bottom: 130px;

  h2 {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  min-height: 235px;
  padding: 40px;
  padding-top: 43px;
  padding-right: 245px;
  background-color: $features--item-bg;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  border-radius: 6px;

  &--time {
    background-image: url("../img/fearures-time.svg");
  }

  &--speed {
    background-image: url("../img/fearures-speed.svg");
  }

  &--information {
    background-image: url("../img/fearures-information.svg");
  }

  &--chat {
    background-image: url("../img/fearures-chat.svg");
  }

  h3 {
    margin: 0;
    margin-bottom: 22px;
    font-family: $segoe-ui;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
  }

  p {
    margin: 0;
    font-family: $segoe-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    color: $features--item-txt;
  }
}
