.registration {
  margin-bottom: 185px;
}

.registration__inner {
  padding: 70px;
  color: $registration--txt;
  background:
    url("../img/registration-bg@1x.png") right calc(100% - 12px) no-repeat,
    $registration--bg;
  border-radius: 10px;

  h2 {
    margin: 0;
    max-width: 560px;
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 34px;
  }
}

@media (min-resolution: 2dppx) {
  .registration__inner {
    background:
      url("../img/registration-bg@2x.png") right calc(100% - 12px) / 732px 340px no-repeat,
      $registration--bg;
  }
}

@media (max-width: $mobile-width) {
  .registration {
    margin-bottom: 50px;
  }

  .registration__inner {
    padding: 30px;

    h2 {
      font-size: 24px;
    }
  }
}
