.site-nav {
  max-width: 290px;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: -75px;
    padding: 0;
    list-style: none;
  }

  li {
    padding-left: 75px;
  }
}

.site-nav__link {
  display: flex;
  align-items: center;
  padding: 12px;
  font-weight: 325;
  font-size: 18px;
  color: $site-nav--link;
  outline: none;

  svg {
    margin-right: 12px;
    fill: $site-nav--link;
  }

  span {
    display: block;
  }

  &:hover,
  &:focus {
    color: $site-nav--link-hover;

    svg {
      fill: $site-nav--link-hover;
    }
  }

  &:active {
    opacity: 0.6;
  }
}
