// Colors

$black: #1c182f;

$black-night: #1c182f;
$black-almost: #2e2d35;

$grey-dark: #474351;
$grey: #918d9a;
$grey-light: #dddae7;
$grey-light-extra: #f6f5f9;

$white: #ffffff;

$site: #2d1686;
$site-dim: #4e33b5;

$site-accent: #f25b24;


// Fonts

$whitney: "Whitney", "Verdana", sans-serif;
$segoe-ui: "Segoe UI", "TVerdana", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;

// Blocks

$btn--txt: $white;
$btn--bg: $site-accent;
$btn--txt-hover: $site-accent;
$btn--bg-hover: $white;


$page--txt: $black-almost;
$page--bg: $white;


$modal--bg: rgba($black-night, 0.3);
$modal--window-bg: $white;
$modal--shadow: rgba($black, 0.25);


$authorization--txt: $grey-dark;
$authorization--input-border: $grey-light;
$authorization--btn-close: $grey;
$authorization--btn-close-hover: $site-accent;

$features--item-txt: $grey-dark;
$features--item-bg: $grey-light-extra;

$page-header--txt: $white;
$page-header--bg: linear-gradient(90deg, $site 0%, $site-dim 100%);

$registration--txt: $white;
$registration--bg: linear-gradient(90deg, $site 0%, $site-dim 100%);

$site-nav--link: $white;
$site-nav--link-hover: $site-accent;
