// Colors

$black: #000000;

$white: #ffffff;

$site: #a87b62;


// Fonts

$whitney: "Whitney", "Verdana", sans-serif;
$segoe-ui: "Segoe UI", "TVerdana", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-not-max: 1229px;

// Blocks

$page--txt: $black;
$page--bg: $white;

