// Colors

$black: #2e2d35;

$grey-light: #f6f5f9;
$grey-dark: #474351;

$white: #ffffff;

$site: #2d1686;
$site-dim: #4e33b5;

$site-accent: #f25b24;


// Fonts

$whitney: "Whitney", "Verdana", sans-serif;
$segoe-ui: "Segoe UI", "TVerdana", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;

// Blocks

$btn--txt: $white;
$btn--bg: $site-accent;
$btn--txt-hover: $site-accent;
$btn--bg-hover: $white;


$page--txt: $black;
$page--bg: $white;


$features--item-txt: $grey-dark;
$features--item-bg: $grey-light;

$page-header--txt: $white;
$page-header--bg: linear-gradient(90deg, $site 0%, $site-dim 100%);

$registration--txt: $white;
$registration--bg: linear-gradient(90deg, $site 0%, $site-dim 100%);

$site-nav--link: $white;
$site-nav--link-hover: $site-accent;
